.cursor {
  display: inline;
  font-weight: bold;
  color: var(--white-color);
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-animation {
  animation: slide-in 1s ease;
}

@keyframes bannerSlideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.banner-slide-in {
  animation: bannerSlideIn 1.5s ease;
  z-index: -1;
}

.grow-animation {
  animation: grow 0.5s ease;
}

@keyframes grow {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.appear-animation {
  animation: appear 2s ease-in;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
