.antique-bg {
  background-color: #f3f0f0;
}

.find-us {
  position: relative;
  width: 100%;
  height: 1050px;
  background-image: url(../../public/assets/kakoDoNas.jpg);
  background-position: center center;
  background-size: cover;
}
footer {
  background-image: url(../../public/assets/zaiskri-bg.jpg);
  height: 120px;
  background-size: cover;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .find-us {
    height: 200vh;
  }
  footer {
    height: 100px;
  }
}
