.antique-bg {
  background-color: #f3f0f0;
}

.find-us {
  position: relative;
  width: 100%;
  height: max-content;
  background-image: url(../../public/assets/kakoDoNas.jpg);
  background-position: center center;
  background-size: cover;
}
footer {
  background-image: url(../../public/assets/zaiskri-bg.jpg);
  height: 100%;
  background-size: cover;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .find-us {
    height: max-content;
  }
}
