.antique-bg {
  background-color: #f3f0f0;
}

.bg-img {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  position: relative;
}
.find-us {
  background-image: url(../../public/assets/kakoDoNas.jpg);
  height: 110vh;
}
.footer {
  background-image: url(../../public/assets/zaiskri-bg.jpg);
  height: 20vh;
}

@media screen and (max-width: 768px) {
  .find-us {
    height: 200vh;
  }
  .footer {
    height: 30vh;
  }
}
