.antique-bg {
  background-color: #f3f0f0;
}

.bg-img {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: max-content;
  position: relative;
}
.find-us {
  background-image: url(../../public/assets/kakoDoNas.jpg);
  height: 160vh;
}
.footer {
  background-image: url(../../public/assets/zaiskri-bg.jpg);
  height: 40vh;
}
