.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 3rem;
  padding: 0 5vw;
}

.card {
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.cards h4 {
  margin: 0 1em;
  padding: 1em 0em;
  border-bottom: 1px solid #e0e0e0;
  text-transform: uppercase;
}

.card p {
  padding: 1em;
  text-align: justify;
}

.card-span-style {
  color: #2b16e6;
}

.card-four-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 3rem;
  padding: 0 5vw;
  place-content: center;
}

.card-four-col h4 {
  margin: 0 1em;
  padding: 1em 0em;
  border-bottom: 1px solid #e0e0e0;
  text-transform: uppercase;
}

.card-four-col img {
  display: flex;
  justify-content: center;
  width: 10vw;
  height: auto;
  padding: 16px;
  transform: translateX(50%);
}

.card-two-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 3em 15vw;
}

.flex-in-cell-of-two-col-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 0.25em 1em;
}

.flex-in-cell-of-two-col-grid p {
  padding-left: 40px;
}

@media (max-width: 1000px) {
  .card-two-col {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    margin: 24px 0px;
  }
  .card-four-col {
    display: flex;
    flex-direction: column;
    margin: 32px auto;
  }

  .certificate-labels {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    align-items: center;
  }

  .certificate-rows {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    height: 65px;
  }
  .certificate-rows img {
    transform: translateX(-0%);
    margin: 5px;
    padding: 0px;
    max-height: 55px;
    object-fit: contain;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 3rem;
    padding: 0 5vw;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin: 3rem;
  }
}
