html,
body {
  min-height: max-content;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

main {
  min-height: max-content;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  margin-top: 47px;
}

footer {
  margin: 0;
  padding: 0;
  bottom: 0;
  position: relative;
  width: 100%;
  max-height: max-content;
}

.nav {
  justify-content: space-between;
  background-color: var(--black-color);
  position: fixed;
  width: 100%;
  top: 0;
  padding: 16px;
  z-index: 100;
  transition: transform 0.5s ease-in-out;
}

.nav-hide {
  transform: translateY(-100%);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.navbar-content a {
  color: var(--white-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-content a:hover {
  color: var(--apricot-color);
}

#contact-modal-btn {
  color: var(--white-color);
}

#contact-modal-btn:hover {
  color: var(--apricot-color);
}

/* Ikonice */
.navbar-content a img {
  transform: translate(0, -2.5px);
  scale: 0.8;
}

.navbar-content button img {
  scale: 0.9;
  transform: translate(0, 1px);
}

/* Dodatna navigacija na O nama stanici */

#about-us-nav a {
  display: flex;
  align-items: center;
  color: var(--apricot-color);
  transition: color 0.3s ease;
}

#about-us-nav a:hover {
  color: var(--apricot-color-dark);
}

/* Mobile only and desctop only*/

.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

@media screen and (max-width: 768px) {
  .navbar-content {
    transform: scale(0.8);
  }

  .navbar-content a {
    padding: 8px 4px;
  }

  .navbar-content a img {
    scale: 0.7;
  }

  #about-us-nav a {
    padding: 8px;
  }

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }
}
