html,
body {
  min-height: max-content;
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  min-height: max-content;
  display: flex;
  flex-direction: column;
  position: relative;
}

footer {
  margin: 0;
  padding: 0;
  bottom: 0;
  position: relative;
  width: 100%;
  max-height: max-content;
}

.nav {
  position: sticky;
  top: 0;
  background-color: var(--black-color);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  transition: top 0.3s ease-in-out;
}

body.scrolling-down .nav {
  top: -100px;
}

.nav a {
  color: var(--white-color);
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 0.5em;
}

.nav a:hover {
  color: var(--apricot-color);
}

#contact-modal-btn {
  color: var(--white-color);
}

#contact-modal-btn:hover {
  color: var(--apricot-color);
}

/* Ikonice */
.nav a img {
  transform: translate(0, -2.5px);
  scale: 0.8;
}

.nav button img {
  scale: 0.9;
  transform: translate(0, 1px);
}

/* Dodatna navigacija na O nama stanici */
#about-us-nav a {
  display: flex;
  align-items: center;
  color: var(--apricot-color);
  transition: color 0.3s ease;
}

#about-us-nav a:hover {
  color: var(--apricot-color-dark);
}

@media screen and (max-width: 768px) {
  .nav {
    flex-direction: row;
    align-items: left;
  }

  .nav a {
    padding: 0.5em 0.2em;
  }

  .nav a img {
    scale: 0.7;
  }

  .nav button img {
    scale: 0.8;
  }

  #about-us-nav a {
    padding: 0.5em 0.5em;
  }
}
