.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.footer-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  font-size: 3em;
  color: aliceblue;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.footer-red-text {
  color: rgb(220, 20, 60);
}

@media screen and (max-width: 768px) {
  .footer-text {
    font-size: 16px;
    top: 5%;
  }
}
