body {
  display: flex;
  flex-direction: column;
}
.container {
  width: 400px;
  margin: 6em auto;
}

#form-title {
  text-transform: uppercase;
}

.form-group {
  margin: 2em auto;
}

datalist {
  color: #fff;
  width: 100%;
}
