#home-title {
  color: aliceblue;
}

#home-subtitle {
  color: crimson;
  text-transform: uppercase;
}

#home-title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: 700;
}
