main {
  margin-top: 0px;
}

#home-title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#myVideo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
