body,
header {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #000;
  padding: 15px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.nav a {
  color: #f8f9fa;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav a img {
  transform: translate(0, -2.5px);
  scale: 0.8;
}

.nav button img {
  scale: 0.9;
  transform: translate(0, 1px);
}

.nav a:hover {
  color: #fbff00;
}

header .btn {
  color: #f8f9fa;
  border: none;
}

header .btn:hover {
  color: #fbff00;
}

header button div {
  display: flex;
  justify-content: center;
  align-items: center;
}
