body,
header {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #000;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.nav a {
  color: #f8f9fa;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 0.5em;
}

.nav a:hover {
  color: #eac452;
}

/* Ikonice */
.nav a img {
  transform: translate(0, -2.5px);
  scale: 0.8;
}

.nav button img {
  scale: 0.9;
  transform: translate(0, 1px);
}

/* Gumb za kontakte */
header .btn {
  color: #f8f9fa;
  border: none;
}

header .btn:hover {
  color: #eac452;
}

header button div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dodatna navigacija na O nama stanici */
#about-us-nav a {
  display: flex;
  align-items: center;
  color: #eac452;
}

#about-us-nav a:hover {
  color: yellow;
}
