.row a {
  margin: 3em;
}

.row img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 20px solid rgb(195, 199, 191);
  object-fit: cover;
  object-position: 60%;
}

.row {
  display: flex;
  flex-direction: row;
  height: 40vh;
}

.antique-bg {
  margin: 3em 0em;
  height: auto;
}
