.container-fluid img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 10px solid #f3f0f0;
  box-shadow: rgb(78, 78, 78) 0px 0px 10px;
  object-fit: cover;
  object-position: 60%;
}

.antique-bg {
  margin: 3em 0em;
  height: 700px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.7em;
  text-decoration: none;
  text-align: center;
  text-wrap: balance;
  color: #fff;
  font-weight: bold;
  text-shadow: black 0px 0px 10px;
}

.center span {
  color: yellow;
}

@media screen and (max-width: 768px) {
  .antique-bg {
    height: 1700px;
  }
  .center {
    font-size: 1em;
  }
}
