:root {
  /* Colors */
  --text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  --red-color: rgb(220, 20, 60);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --apricot-color: rgb(234, 196, 82);
  --appricot-color-opacity: rgba(234, 196, 82, 0.5);
  --button-shadow: rgb(0, 0, 0) 0px 0px 10px;
  --title-border-bottom: 0.25em solid rgb(234, 196, 82);

  /* Text sizes */
  --typo-size-80: 80px;
  --typo-size-24: 24px;
  --typo-size-18: 18px;
  --typo-size-14: 14px;
  --typo-size-16: 16px;
}

.title {
  border-bottom: var(--title-border-bottom);
}

.red-text {
  color: var(--red-color);
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.footer-text {
  color: var(--color-white);
  font-size: var(--typo-size-80);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  text-shadow: var(--text-shadow);
}

.footer-red-text {
  color: var(--red-color);
}

.text-style {
  font-size: var(--typo-size-24);
  display: flex;
  justify-content: center;
  margin: 0 200px;
}

.typo-news-button {
  font-size: var(--typo-size-16);
  text-align: center;
  text-wrap: wrap;
  color: var(--color-white);
  font-weight: bold;
  text-shadow: var(--button-shadow);
}

.typo-news-content {
  font-size: 24px;
}

@media screen and (max-width: 480px) {
  .footer-text {
    font-size: var(--typo-size-24);
  }

  .text-style {
    font-size: var(--typo-size-18);
    margin: 0 30px;
  }

  .typo-news-button {
    font-size: var(--typo-size-14);
  }

  .typo-news-content {
    font-size: 18px;
  }
}
